body {
	background-image: url(../images/arena.png);
	background-repeat: no-repeat;
	background-size: 100% 1000px;
	color: white;

}

.charSel {
	height: 400px;
}

/* Health Bar */

.progress {
	background-color: red;
}

div.healthBG {
	width: 128px;
	display: inline-block;
}

div.healthbarComp {
	display: inline-block;
}

.bar {
	width: 100%;
	
	text-align: center;
}

/* Character Pictures */

div.team, div.opponent {
	

}

.pixelPic {
	height: 128px;
	width: 128px;
	float: left;
}

/* attack and ability buttons */

.attack {
	color: black;
	width: 64px;
}

.ability {
	color: black;
	width: 64px;
}

/* Social Icons and footer */

.center {
	
	margin: 0 auto;
	text-align: center;
}
.socIcon {
	margin: 20px;
	display: inline-block;
}

.social {
	width: 62px;
	height: 62px;
	background-color: white;
}

.social:hover{
	transition: all 1s ease;
	-webkit-transform:scale(1.5); 
    -moz-transform:scale(1.5); 
    -ms-transform:scale(1.5); 
    -o-transform:scale(1.5); 
     transform:scale(1.5);
     z-index: +10;
}

footer {
	text-align: center;
	padding: 30px;
}