body {
	background-image: url(../images/arena.png);
	background-repeat: no-repeat;
	background-size: 100% 1000px;
	color: white;
	text-align: center;
	font-family: 'Bangers', cursive;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

.charSel {
	height: 300px;
}

/* Health Bar */

.progress {
	background-color: red;
}

div.healthBG {
	width: 100%;
	
}

div.healthbarComp {
	
}

.bar {
	width: 100%;
	
	text-align: center;
}

/* Character Pictures */

.target {
	border: 5px solid red;
}

div.team, div.team2, div.team3 {
	
}

div.opponent, div.opponent2, div.opponent3 {
	
}

.char {

}

.pixelPic {
	height: 128px;
	width: 128px;
}

/* attack and ability buttons */

.but {

}

#attack1, #attack2 {
	color: black;
	width: 50%;
	font-size: 16px;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
}

#ability1, #ability2 {
	color: black;
	width: 50%;
	font-size: 16px;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Social Icons and footer */

.center {	
	margin: 0 auto;
	text-align: center;
}
.socIcon {
	margin: 20px;
	display: inline-block;
}

.social {
	width: 62px;
	height: 62px;
	background-color: white;
}

.social:hover{
	transition: all 1s ease;
	-webkit-transform:scale(1.5); 
    -moz-transform:scale(1.5); 
    -ms-transform:scale(1.5); 
    -o-transform:scale(1.5); 
     transform:scale(1.5);
     z-index: +10;
}

footer {
	text-align: center;
	padding: 30px;
}