body {
	background-image: url(../images/arena.png);
	background-repeat: no-repeat;
	background-size: 100% 1000px;
	color: white;
	text-align: center;
	font-family: 'Bangers', cursive;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

.charSel {
	height: 400px;
}

/* Health Bar */

.progress {
	background-color: red;
}

div.healthBG {
	width: 100%;
	
}

div.healthbarComp {
	
}

.bar {
	width: 100%;
	
	text-align: center;
}

/* Character Pictures */

div.team, div.team2, div.team3 {
	
}

div.opponent, div.opponent2, div.opponent3 {
	
}

.pixelPic {
	height: 128px;
	width: 128px;
}

/* attack and ability buttons */

.but {

}

.attack {
	color: black;
	width: 50%;
	float: left;
}

.ability {
	color: black;
	width: 50%;
	float: left;
}

/* Social Icons and footer */

.center {
	
	margin: 0 auto;
	text-align: center;
}
.socIcon {
	margin: 20px;
	display: inline-block;
}

.social {
	width: 62px;
	height: 62px;
	background-color: white;
}

.social:hover{
	transition: all 1s ease;
	-webkit-transform:scale(1.5); 
    -moz-transform:scale(1.5); 
    -ms-transform:scale(1.5); 
    -o-transform:scale(1.5); 
     transform:scale(1.5);
     z-index: +10;
}

footer {
	text-align: center;
	padding: 30px;
}